@tailwind base;

@tailwind components;

@tailwind utilities;

.text-shadow {
    text-shadow: 3px 3px 5px rgba(0, 0, 0, 0.5);
}
.text-shadow-md {
    text-shadow: 3px 3px 10px rgba(0, 0, 0, 0.5);
}
.text-shadow-lg	{
    text-shadow: 3px 3px 12px rgba(0, 0, 0, 0.5);
}
.text-shadow-xl {
    text-shadow: 3px 3px 15px rgba(0, 0, 0, 0.5);
}
.text-shadow-2xl {
    text-shadow: 3px 3px 18px rgba(0, 0, 0, 0.5);
}
.text-shadow-none {
    text-shadow: none;
}