@tailwind base;

@tailwind components;

@import 'fa.css';

.text-shadow {
    text-shadow: 3px 3px 5px rgba(0, 0, 0, 0.5);
}
.text-shadow-md {
    text-shadow: 3px 3px 10px rgba(0, 0, 0, 0.5);
}
.text-shadow-lg	{
    text-shadow: 3px 3px 12px rgba(0, 0, 0, 0.5);
}
.text-shadow-xl {
    text-shadow: 3px 3px 15px rgba(0, 0, 0, 0.5);
}
.text-shadow-2xl {
    text-shadow: 3px 3px 18px rgba(0, 0, 0, 0.5);
}
.text-shadow-none {
    text-shadow: none;
}

.box-shadow-hero {
    box-shadow: 0 5px 20px #00000094
}

.hero-home {
    background-color: #ff9d00;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='100%25' height='100%25' viewBox='0 0 1600 800'%3E%3Cg stroke='%23b71c1c' stroke-width='66.7' stroke-opacity='0' %3E%3Ccircle fill='%23ff9d00' cx='0' cy='0' r='1800'/%3E%3Ccircle fill='%23fd9211' cx='0' cy='0' r='1700'/%3E%3Ccircle fill='%23fb871c' cx='0' cy='0' r='1600'/%3E%3Ccircle fill='%23f87d24' cx='0' cy='0' r='1500'/%3E%3Ccircle fill='%23f4722b' cx='0' cy='0' r='1400'/%3E%3Ccircle fill='%23ef6831' cx='0' cy='0' r='1300'/%3E%3Ccircle fill='%23ea5e36' cx='0' cy='0' r='1200'/%3E%3Ccircle fill='%23e4543a' cx='0' cy='0' r='1100'/%3E%3Ccircle fill='%23dd4b3e' cx='0' cy='0' r='40'/%3E%3Ccircle fill='%23d64242' cx='0' cy='0' r='900'/%3E%3Ccircle fill='%23ce3945' cx='0' cy='0' r='800'/%3E%3Ccircle fill='%23c53148' cx='0' cy='0' r='700'/%3E%3Ccircle fill='%23bc2a4a' cx='0' cy='0' r='600'/%3E%3Ccircle fill='%23b2234c' cx='0' cy='0' r='500'/%3E%3Ccircle fill='%23a81c4e' cx='0' cy='0' r='400'/%3E%3Ccircle fill='%239e174f' cx='0' cy='0' r='300'/%3E%3Ccircle fill='%2393124f' cx='0' cy='0' r='200'/%3E%3Ccircle fill='%23880e4f' cx='0' cy='0' r='100'/%3E%3C/g%3E%3C/svg%3E");
    background-attachment: fixed;
    background-size: cover;
}

.hero {
    background-color: #ff9d00;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='100%25' height='100%25' viewBox='0 0 1600 800'%3E%3Cg stroke='%23b71c1c' stroke-width='66.7' stroke-opacity='0' %3E%3Ccircle fill='%23ff9d00' cx='0' cy='0' r='1800'/%3E%3Ccircle fill='%23fd9211' cx='0' cy='0' r='1700'/%3E%3Ccircle fill='%23fb871c' cx='0' cy='0' r='1600'/%3E%3Ccircle fill='%23f87d24' cx='0' cy='0' r='1500'/%3E%3Ccircle fill='%23f4722b' cx='0' cy='0' r='1400'/%3E%3Ccircle fill='%23ef6831' cx='0' cy='0' r='1300'/%3E%3Ccircle fill='%23ea5e36' cx='0' cy='0' r='1200'/%3E%3Ccircle fill='%23e4543a' cx='0' cy='0' r='1100'/%3E%3Ccircle fill='%23dd4b3e' cx='0' cy='0' r='40'/%3E%3Ccircle fill='%23d64242' cx='0' cy='0' r='900'/%3E%3Ccircle fill='%23ce3945' cx='0' cy='0' r='800'/%3E%3Ccircle fill='%23c53148' cx='0' cy='0' r='700'/%3E%3Ccircle fill='%23bc2a4a' cx='0' cy='0' r='600'/%3E%3Ccircle fill='%23b2234c' cx='0' cy='0' r='500'/%3E%3Ccircle fill='%23a81c4e' cx='0' cy='0' r='400'/%3E%3Ccircle fill='%239e174f' cx='0' cy='0' r='300'/%3E%3Ccircle fill='%2393124f' cx='0' cy='0' r='200'/%3E%3Ccircle fill='%23880e4f' cx='0' cy='0' r='100'/%3E%3C/g%3E%3C/svg%3E");
    background-attachment: fixed;
    background-size: cover;
}

.blog {
    background-color: #edf2f7d9;
    background-attachment: fixed;
    background-size: cover;
}


@media (min-width: 769px) {
    .hero-home {
        clip-path: polygon(0 0, 100% 0, 100% 100%, 0 92%);
    }
    .blog {
        clip-path: polygon(0% 0%, 100% 10%, 100% 100%, 0 87%);
    }
}

@import 'skill.css';

@import 'palette.css';

@import 'hamburgers.css';
  
.card {
    background: #fff;
    border-radius: 5px;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    box-shadow: 0 -1px 15px -3px rgba(0, 0, 0, 0.1), 0 0px 6px -2px rgba(0, 0, 0, 0.05);
    transition: all 0.3s ease-out;
    text-decoration: none;
    z-index: inherit;

}
  
.card:hover {
    transform: translateY(-5px) scale(1.005) translateZ(0);
    box-shadow: 0 15px 15px rgba(0,0,0,0.11),
      0 24px 46px var(--box-shadow-color);
}
  
.card:hover .overlay {
    transform: scale(5) translateZ(0);
}
  
.card:hover .circle {
    border-color: var(--bg-color-light);
    background: var(--bg-color);
}
  
.card:hover.skilled .circle:after {
    background: #fff;
}
  
.card .skill {
    text-transform: uppercase;
    font-size: 12px;
    font-weight: bold;
    background-image: --webkit-gradient(linear, left top, left bottom, from(var(--bg-color)), to(var(--bg-color-dark)));
    background-image: linear-gradient(180deg, var(--bg-color), var(--bg-color-dark));
    color: #fff;
    margin-top: 15px;
    z-index: 40;
    border: 1px solid var(--bg-color);
    border-radius: 20px;
    padding: 3px 15px;
    transition: color 0.3s ease-out;
}

.card:hover .skill {
    background: rgba(0, 0, 0, .4);
    color: #fff;
    font-weight: bold;
    border: 1px solid #fff;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, .2)
}

.card .skill:hover {
    background: rgba(0, 0, 0, .6);
}

.card .title {
    font-weight: bold;
    color: #2D3748;
    z-index: 40;
    padding: 10px 5px 0 5px;
    font-size: 20px;
    text-align: center;
    line-height: normal
}

.card:hover .title {
    color: #fff;
    z-index: 40;
}

.card .description {
    z-index: 40;
}

.card:hover .description {
    color: #fff
}

.card .description .text {
    color: #2D3748;
}
.card:hover .description .text {
    color: #fff;
}

.card .description svg {
    fill: #2D3748;
}
.card:hover .description svg {
    fill: #fff;
}
  
.card .circle {
    width: 131px;
    height: 131px;
    border-radius: 50%;
    background: #fff;
    border: 2px solid var(--bg-color);
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    z-index: 1;
    transition: all 0.3s ease-out;
}

.card:hover .circle {
    background: var(--bg-color);
    background-image: radial-gradient(farthest-corner, var(--bg-color) 3%, var(--bg-color-dark) 100%);
}
  
.card .circle:after {
    content: "";
    width: 118px;
    height: 118px;
    display: block;
    position: absolute;
    background-image: radial-gradient(farthest-corner, var(--bg-color) 3%, var(--bg-color-dark) 100%);
    border-radius: 50%;
    top: 5px;
    left: 5px;
    transition: opacity 0.3s ease-out;
}
  
.card .circle svg {
    width: 70px;
    height: 70px;
    z-index: 400;
    fill: #fff;
    transform: translateZ(0);
}
.card:hover .circle svg {
    fill: var(--bg-color);
}
  
.overlay {
    width: 118px;
    top: 1rem;
    position: absolute; 
    height: 118px;
    border-radius: 50%;
    background-image: radial-gradient(farthest-corner, var(--bg-color) 0%, var(--bg-color-dark) 60%);
    z-index: 0;
    transition: transform 0.6s ease-out;
}

.skill-group {
    top: 48px;
    z-index: 49;
}

.course {
    background-image: --webkit-gradient(linear, left top, left bottom, from(var(--bg-color)), to(var(--bg-color-dark)));
    background-image: linear-gradient(180deg, var(--bg-color), var(--bg-color-dark));
    color: var(--bg-color-light);
}

.course .skill {
    background: rgba(0, 0, 0, .4)
}

.course .skill:hover {
    background: rgba(0, 0, 0, .5)
}

.course .icon {
    width: 250px;
    height: 250px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    z-index: 1;
    transition: all 0.3s ease-out;
}

.lesson .icon {
    background-image: --webkit-gradient(linear, left top, left bottom, from(var(--bg-color)), to(var(--bg-color-dark)));
    background-image: linear-gradient(180deg, var(--bg-color), var(--bg-color-dark));
    color: var(--bg-color-light);
}

.border-trans {
    border-color: rgba(255, 255, 255, .2)
}

.bg-black-trans {
    background: rgba(0, 0, 0, .4);
}

.bg-white-trans {
    background: rgba(255, 255, 255, .5);
}

.collection {
    max-width: 400px;
    max-height: 50vh;
}

.video-content {
    max-width: 140vh;
}

.reply {
    @apply pl-3 border-l ml-5 border-dashed; 
}

.comment-box {
    @apply bg-white pt-4;
}

.markdown-toolbar .button {
    padding-left: 0.25rem;
    padding-right: 0.50rem;
    @apply border-r text-gray-600;
}

.markdown-toolbar .button:hover {
    @apply text-gray-900;
}

.skill-header svg {
    @apply w-4 h-4 fill-current inline-block mr-1;
}

.menu-item {
    @apply block py-1 pl-1 align-middle text-gray-500 no-underline border-b-2 border-white;
}

.menu-active {
    @apply block py-1 pl-1 align-middle text-red-600 no-underline border-b-2 border-red-600;
}

.table-head {
    @apply py-4 px-6 font-bold uppercase text-sm text-gray-600 border-b border-gray-500;
}

.table-content {
    @apply py-4 px-6 border-b text-gray-700 border-gray-300;
}

.form-label {
    @apply block uppercase tracking-wide text-gray-700 text-xs font-bold my-2;
}

.form-input {
    width: 100%;
    @pply w-full appearance-none block text-gray-700 border rounded py-3 px-4 mb-3 leading-tight;
}
.form-input:focus {
    @apply outline-none;
}

.form-select {
    width: 100%;
    @apply block appearance-none w-full bg-gray-200 border border-gray-200 text-gray-700 py-3 px-4 pr-8 rounded leading-tight;
}
.form-select:focus {
    @apply outline-none bg-white border-gray-500
}

.form-button-blue {
    @apply text-blue-700 font-semibold py-2 px-4 border border-blue-500 rounded inline-flex items-center;
}
.form-button-blue:hover {
    @apply bg-blue-500 text-white border-transparent;
}

.form-button-red {
    @apply py-2 px-4 border border-red-500 rounded inline-flex items-center text-red-700 font-semibold;
}
.form-button-red:hover {
    @apply bg-red-500 border-transparent text-white
}

.form-button-yellow {
    @apply text-orange-500 font-semibold py-2 px-4 border border-orange-500 rounded inline-flex items-center;
}
.form-button-yellow:hover {
    @apply bg-orange-500 text-white border-transparent;
}

.youtube {
    @apply bg-red-700 px-2 py-1 text-white ml-2 rounded-lg
}

.vimeo {
    @apply bg-blue-500 px-2 py-1 text-white ml-2 rounded-lg
}

.local {
    @apply bg-gray-600 px-2 py-1 text-white ml-2 rounded-lg
}

.loader {
    margin: 100px auto;
    font-size: 25px;
    width: 1em;
    height: 1em;
    border-radius: 50%;
    position: relative;
    text-indent: -9999em;
    -webkit-animation: load5 1.1s infinite ease;
    animation: load5 1.1s infinite ease;
    -webkit-transform: translateZ(0);
    -ms-transform: translateZ(0);
    transform: translateZ(0);
}
@-webkit-keyframes load5 {
    0%,
    100% {
      box-shadow: 0em -2.6em 0em 0em #d10d0d, 1.8em -1.8em 0 0em rgba(209,13,13, 0.2), 2.5em 0em 0 0em rgba(209,13,13, 0.2), 1.75em 1.75em 0 0em rgba(209,13,13, 0.2), 0em 2.5em 0 0em rgba(209,13,13, 0.2), -1.8em 1.8em 0 0em rgba(209,13,13, 0.2), -2.6em 0em 0 0em rgba(209,13,13, 0.5), -1.8em -1.8em 0 0em rgba(209,13,13, 0.7);
    }
    12.5% {
      box-shadow: 0em -2.6em 0em 0em rgba(209,13,13, 0.7), 1.8em -1.8em 0 0em #d10d0d, 2.5em 0em 0 0em rgba(209,13,13, 0.2), 1.75em 1.75em 0 0em rgba(209,13,13, 0.2), 0em 2.5em 0 0em rgba(209,13,13, 0.2), -1.8em 1.8em 0 0em rgba(209,13,13, 0.2), -2.6em 0em 0 0em rgba(209,13,13, 0.2), -1.8em -1.8em 0 0em rgba(209,13,13, 0.5);
    }
    25% {
      box-shadow: 0em -2.6em 0em 0em rgba(209,13,13, 0.5), 1.8em -1.8em 0 0em rgba(209,13,13, 0.7), 2.5em 0em 0 0em #d10d0d, 1.75em 1.75em 0 0em rgba(209,13,13, 0.2), 0em 2.5em 0 0em rgba(209,13,13, 0.2), -1.8em 1.8em 0 0em rgba(209,13,13, 0.2), -2.6em 0em 0 0em rgba(209,13,13, 0.2), -1.8em -1.8em 0 0em rgba(209,13,13, 0.2);
    }
    37.5% {
      box-shadow: 0em -2.6em 0em 0em rgba(209,13,13, 0.2), 1.8em -1.8em 0 0em rgba(209,13,13, 0.5), 2.5em 0em 0 0em rgba(209,13,13, 0.7), 1.75em 1.75em 0 0em #d10d0d, 0em 2.5em 0 0em rgba(209,13,13, 0.2), -1.8em 1.8em 0 0em rgba(209,13,13, 0.2), -2.6em 0em 0 0em rgba(209,13,13, 0.2), -1.8em -1.8em 0 0em rgba(209,13,13, 0.2);
    }
    50% {
      box-shadow: 0em -2.6em 0em 0em rgba(209,13,13, 0.2), 1.8em -1.8em 0 0em rgba(209,13,13, 0.2), 2.5em 0em 0 0em rgba(209,13,13, 0.5), 1.75em 1.75em 0 0em rgba(209,13,13, 0.7), 0em 2.5em 0 0em #d10d0d, -1.8em 1.8em 0 0em rgba(209,13,13, 0.2), -2.6em 0em 0 0em rgba(209,13,13, 0.2), -1.8em -1.8em 0 0em rgba(209,13,13, 0.2);
    }
    62.5% {
      box-shadow: 0em -2.6em 0em 0em rgba(209,13,13, 0.2), 1.8em -1.8em 0 0em rgba(209,13,13, 0.2), 2.5em 0em 0 0em rgba(209,13,13, 0.2), 1.75em 1.75em 0 0em rgba(209,13,13, 0.5), 0em 2.5em 0 0em rgba(209,13,13, 0.7), -1.8em 1.8em 0 0em #d10d0d, -2.6em 0em 0 0em rgba(209,13,13, 0.2), -1.8em -1.8em 0 0em rgba(209,13,13, 0.2);
    }
    75% {
      box-shadow: 0em -2.6em 0em 0em rgba(209,13,13, 0.2), 1.8em -1.8em 0 0em rgba(209,13,13, 0.2), 2.5em 0em 0 0em rgba(209,13,13, 0.2), 1.75em 1.75em 0 0em rgba(209,13,13, 0.2), 0em 2.5em 0 0em rgba(209,13,13, 0.5), -1.8em 1.8em 0 0em rgba(209,13,13, 0.7), -2.6em 0em 0 0em #d10d0d, -1.8em -1.8em 0 0em rgba(209,13,13, 0.2);
    }
    87.5% {
      box-shadow: 0em -2.6em 0em 0em rgba(209,13,13, 0.2), 1.8em -1.8em 0 0em rgba(209,13,13, 0.2), 2.5em 0em 0 0em rgba(209,13,13, 0.2), 1.75em 1.75em 0 0em rgba(209,13,13, 0.2), 0em 2.5em 0 0em rgba(209,13,13, 0.2), -1.8em 1.8em 0 0em rgba(209,13,13, 0.5), -2.6em 0em 0 0em rgba(209,13,13, 0.7), -1.8em -1.8em 0 0em #d10d0d;
    }
}
@keyframes load5 {
    0%,
    100% {
        box-shadow: 0em -2.6em 0em 0em #d10d0d, 1.8em -1.8em 0 0em rgba(209,13,13, 0.2), 2.5em 0em 0 0em rgba(209,13,13, 0.2), 1.75em 1.75em 0 0em rgba(209,13,13, 0.2), 0em 2.5em 0 0em rgba(209,13,13, 0.2), -1.8em 1.8em 0 0em rgba(209,13,13, 0.2), -2.6em 0em 0 0em rgba(209,13,13, 0.5), -1.8em -1.8em 0 0em rgba(209,13,13, 0.7);
    }
    12.5% {
        box-shadow: 0em -2.6em 0em 0em rgba(209,13,13, 0.7), 1.8em -1.8em 0 0em #d10d0d, 2.5em 0em 0 0em rgba(209,13,13, 0.2), 1.75em 1.75em 0 0em rgba(209,13,13, 0.2), 0em 2.5em 0 0em rgba(209,13,13, 0.2), -1.8em 1.8em 0 0em rgba(209,13,13, 0.2), -2.6em 0em 0 0em rgba(209,13,13, 0.2), -1.8em -1.8em 0 0em rgba(209,13,13, 0.5);
    }
    25% {
        box-shadow: 0em -2.6em 0em 0em rgba(209,13,13, 0.5), 1.8em -1.8em 0 0em rgba(209,13,13, 0.7), 2.5em 0em 0 0em #d10d0d, 1.75em 1.75em 0 0em rgba(209,13,13, 0.2), 0em 2.5em 0 0em rgba(209,13,13, 0.2), -1.8em 1.8em 0 0em rgba(209,13,13, 0.2), -2.6em 0em 0 0em rgba(209,13,13, 0.2), -1.8em -1.8em 0 0em rgba(209,13,13, 0.2);
    }
    37.5% {
        box-shadow: 0em -2.6em 0em 0em rgba(209,13,13, 0.2), 1.8em -1.8em 0 0em rgba(209,13,13, 0.5), 2.5em 0em 0 0em rgba(209,13,13, 0.7), 1.75em 1.75em 0 0em #d10d0d, 0em 2.5em 0 0em rgba(209,13,13, 0.2), -1.8em 1.8em 0 0em rgba(209,13,13, 0.2), -2.6em 0em 0 0em rgba(209,13,13, 0.2), -1.8em -1.8em 0 0em rgba(209,13,13, 0.2);
    }
    50% {
        box-shadow: 0em -2.6em 0em 0em rgba(209,13,13, 0.2), 1.8em -1.8em 0 0em rgba(209,13,13, 0.2), 2.5em 0em 0 0em rgba(209,13,13, 0.5), 1.75em 1.75em 0 0em rgba(209,13,13, 0.7), 0em 2.5em 0 0em #d10d0d, -1.8em 1.8em 0 0em rgba(209,13,13, 0.2), -2.6em 0em 0 0em rgba(209,13,13, 0.2), -1.8em -1.8em 0 0em rgba(209,13,13, 0.2);
    }
    62.5% {
        box-shadow: 0em -2.6em 0em 0em rgba(209,13,13, 0.2), 1.8em -1.8em 0 0em rgba(209,13,13, 0.2), 2.5em 0em 0 0em rgba(209,13,13, 0.2), 1.75em 1.75em 0 0em rgba(209,13,13, 0.5), 0em 2.5em 0 0em rgba(209,13,13, 0.7), -1.8em 1.8em 0 0em #d10d0d, -2.6em 0em 0 0em rgba(209,13,13, 0.2), -1.8em -1.8em 0 0em rgba(209,13,13, 0.2);
    }
    75% {
        box-shadow: 0em -2.6em 0em 0em rgba(209,13,13, 0.2), 1.8em -1.8em 0 0em rgba(209,13,13, 0.2), 2.5em 0em 0 0em rgba(209,13,13, 0.2), 1.75em 1.75em 0 0em rgba(209,13,13, 0.2), 0em 2.5em 0 0em rgba(209,13,13, 0.5), -1.8em 1.8em 0 0em rgba(209,13,13, 0.7), -2.6em 0em 0 0em #d10d0d, -1.8em -1.8em 0 0em rgba(209,13,13, 0.2);
    }
    87.5% {
        box-shadow: 0em -2.6em 0em 0em rgba(209,13,13, 0.2), 1.8em -1.8em 0 0em rgba(209,13,13, 0.2), 2.5em 0em 0 0em rgba(209,13,13, 0.2), 1.75em 1.75em 0 0em rgba(209,13,13, 0.2), 0em 2.5em 0 0em rgba(209,13,13, 0.2), -1.8em 1.8em 0 0em rgba(209,13,13, 0.5), -2.6em 0em 0 0em rgba(209,13,13, 0.7), -1.8em -1.8em 0 0em #d10d0d;
    }
}

.footer-home {
    background: #880e4f;
    margin-top: 5rem;
}

.footer {
    background: #880e4f;
    margin-top: 5rem;
}

@media (min-width: 769px) { 
    .footer-home {
        -webkit-clip-path: polygon(0 0, 100% 20%, 100% 100%, 0 100%);
        clip-path: polygon(0 0, 100% 20%, 100% 100%, 0 100%);
    }
}

.social {
    padding-top: 8px;
    padding-bottom: 16px;
    border-radius: 5px;
}

.post-content {
    max-width: 870px;
}

.post figure {
    overflow: hidden;
}

.post figure img {
    -webkit-transform: scale(1);
	transform: scale(1);
	-webkit-transition: .3s ease-in-out;
	transition: .3s ease-in-out;
}

.post figure img:hover {
    -webkit-transform: scale(1.3);
	transform: scale(1.3);
}

@import 'github-markdown.css';

@tailwind utilities;