.red {
  --bg-color: #d32f2f;
  --bg-color-dark: #b71c1c;
  --bg-color-light: #fff;
  --text-color-hover: #4C5656;
  --box-shadow-color: rgba(117, 117, 117, .4);
}

.pink {
  --bg-color: #c2185b;
  --bg-color-dark: #880e4f;
  --bg-color-light: #fff;
  --text-color-hover: #4C5656;
  --box-shadow-color: rgba(117, 117, 117, .4);
}

.purple {
  --bg-color: #8e24aa;
  --bg-color-dark: #6a1b9a;
  --bg-color-light: #fff;
  --text-color-hover: #4C5656;
  --box-shadow-color: rgba(117, 117, 117, .4);
}

.deep-purple {
  --bg-color: #512da8;
  --bg-color-dark: #311b92;
  --bg-color-light: #fff;
  --text-color-hover: #4C5656;
  --box-shadow-color: rgba(117, 117, 117, .4);
}

.indigo {
  --bg-color: #303f9f;
  --bg-color-dark: #1a237e;
  --bg-color-light: #fff;
  --text-color-hover: #4C5656;
  --box-shadow-color: rgba(117, 117, 117, .4);
}

.blue {
  --bg-color: #1976d2;
  --bg-color-dark: #0d47a1;
  --bg-color-light: #fff;
  --text-color-hover: #4C5656;
  --box-shadow-color: rgba(117, 117, 117, .4);
}

.ligth-blue {
  --bg-color: #0288d1;
  --bg-color-dark: #01579b;
  --bg-color-light: #fff;
  --text-color-hover: #4C5656;
  --box-shadow-color: rgba(117, 117, 117, .4);
}

.cyan {
  --bg-color: #0097a7;
  --bg-color-dark: #006064;
  --bg-color-light: #fff;
  --text-color-hover: #4C5656;
  --box-shadow-color: rgba(117, 117, 117, .4);
}

.teal {
  --bg-color: #00897b;
  --bg-color-dark: #00695c;
  --bg-color-light: #fff;
  --text-color-hover: #4C5656;
  --box-shadow-color: rgba(117, 117, 117, .4);
}

.green {
  --bg-color: #43a047;
  --bg-color-dark: #2e7d32;
  --bg-color-light: #fff;
  --text-color-hover: #4C5656;
  --box-shadow-color: rgba(117, 117, 117, .4);
}

.light-green {
  --bg-color: #689f38;
  --bg-color-dark: #33691e;
  --bg-color-light: #fff;
  --text-color-hover: #4C5656;
  --box-shadow-color: rgba(117, 117, 117, .4);
}

.lime {
  --bg-color: #afb42b;
  --bg-color-dark: #827717;
  --bg-color-light: #fff;
  --text-color-hover: #4C5656;
  --box-shadow-color: rgba(117, 117, 117, .4);
}

.yellow {
  --bg-color: #fbc02d;
  --bg-color-dark: #f57f17;
  --bg-color-light: #fff;
  --text-color-hover: #4C5656;
  --box-shadow-color: rgba(117, 117, 117, .4);
}

.amber {
  --bg-color: #ffa000;
  --bg-color-dark: #ff6f00;
  --bg-color-light: #fff;
  --text-color-hover: #4C5656;
  --box-shadow-color: rgba(117, 117, 117, .4);
}

.orange {
  --bg-color: #f57c00;
  --bg-color-dark: #e65100;
  --bg-color-light: #fff;
  --text-color-hover: #4C5656;
  --box-shadow-color: rgba(117, 117, 117, .4);
}

.deep-orange {
  --bg-color: #e64a19;
  --bg-color-dark: #bf360c;
  --bg-color-light: #fff;
  --text-color-hover: #4C5656;
  --box-shadow-color: rgba(117, 117, 117, .4);
}

.blue-grey {
  --bg-color: #455a64;
  --bg-color-dark: #263238;
  --bg-color-light: rgb(3, 3, 3);
  --text-color-hover: #4C5656;
  --box-shadow-color: rgba(117, 117, 117, .4);
}