.javascript {
    --bg-color: #FBC02D;
    --bg-color-dark: #7e801c;
    --bg-color-light: #fff;
    --text-color-hover: #4C5656;
    --box-shadow-color: rgba(117, 117, 117, .4);
}

.vue {
    --bg-color: #4CAF50;
    --bg-color-dark: #0a8407;
    --bg-color-light: #fff;
    --text-color-hover: #4C5656;
    --box-shadow-color: rgba(117, 117, 117, .4);
}
  
.laravel {
    --bg-color: #f4645f;
    --bg-color-dark: #b52d2c;
    --bg-color-light: #fff;
    --text-color-hover: #4C5656;
    --box-shadow-color: rgba(117, 117, 117, .4);
}
  
.php {
    --bg-color: #6478e4;
    --bg-color-dark: #093d8c;
    --bg-color-light: #fff;
    --text-color-hover: #4C5656;
    --box-shadow-color: rgba(117, 117, 117, .4);
}

.angular {
    --bg-color: #F44336;
    --bg-color-dark: #A00807;
    --bg-color-light: #fff;
    --text-color-hover: #4C5656;
    --box-shadow-color: rgba(117, 117, 117, .4);
}

.cpp {
    --bg-color: #00599c;
    --bg-color-dark: #004482;
    --bg-color-light: #fff;
    --text-color-hover: #4C5656;
    --box-shadow-color: rgba(117, 117, 117, .4);
}

.java {
    --bg-color: #f10b05;
    --bg-color-dark: #a92c2c;
    --bg-color-light: #fff;
    --text-color-hover: #4C5656;
    --box-shadow-color: rgba(117, 117, 117, .4);
}

.linux {
    --bg-color: #e86e05;
    --bg-color-dark: #9a4d04;
    --bg-color-light: #fff;
    --text-color-hover: #4C5656;
    --box-shadow-color: rgba(117, 117, 117, .4);
}

.c-sharp {
    --bg-color: #9C27B0;
    --bg-color-dark: #5f0586;
    --bg-color-light: #fff;
    --text-color-hover: #4C5656;
    --box-shadow-color: rgba(117, 117, 117, .4);
}